.new_event_page {
  padding-top: 25px;

  h1 {
    text-align: left;
    margin-bottom: 25px;
  }

  .tab-content {
    padding: 25px 0;

    .input {
      width: 400px;
      margin-bottom: 10px;

      label {
        display: block;
      }

      input {
        width: 100%;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid rgb(220, 220, 220);
      }
    }

    .box_input {
      margin-bottom: 10px;

      label {
        margin-bottom: 0;
      }

      input {
        margin-right: 10px;
        position: relative;
        top: -2px;
      }
    }

    #accordion {
      .card-header {
        button {
          color: #000;
        }
      }
    }
  }
}
