header {
  background: #eee;

  nav.nav {
    position: relative;
    margin: 0 auto;
    padding: 25px 0;

    ul.menu {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          color: #000;

          &:visited {
            color: #000;
          }
        }
      }
    }

    .login {
      position: absolute;
      right: 0;
      top: 25px;
    }
  }
}
